body {
  @include medium;
}

.header-mobile-active {
  overflow: hidden;
  footer {
    display: none;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.biodiapy-button {
  background: #D1D701;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  @include bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 26px 75px;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.biodiapy-subscribe-button {
  background: #D1D701;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  @include bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 16px 75px;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #D1D701;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  @include bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}


.payment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  width: 100%;
  background: #D1D701;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  @include regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    padding: 0 12px;
  }
  i {
    margin-right: 10px;
  }
  &:hover {
    color: #fff;
  }
  &-rounded {
    border-radius: 100px;
  }
}

select.select-item {
  padding-left: 20px;
  width: 100%;
  border: 0;
  background: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include regular;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8d8d8d;
  height: 60px;
  border: 1px solid #eee;
  &::-ms-expand {
    display: none;
  }
}


.user-sidebar-select {
  margin-top: 20px;
  width: 100%;
  border: solid 1px #eeeeee;
  background-color: #ffffff;
  padding: 0 20px;
  height: 60px;
  @include regular;
  font-size: 18px;
  color: #333333;
  background: url(../images/select-down-arrow.svg) 93% / 4% no-repeat #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.primary-checkbox {
  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked)
  {
      position: absolute;
      left: -9999px;
  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
       line-height: 20px;
      display: inline-block;
      color: #8D8D8D;
      height: 20px;
    font-weight: 400;
      font-size: 14px;

      a {
        color: #CFD330;
        text-decoration: underline;
      }
  }
  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before
  {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #8D8D8D;
      background: #fff;
  }
  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after
  {
      content: '';
      width: 12px;
      height: 12px;
      background: #CFD330;
      position: absolute;
      top: 4px;
      left: 4px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  input[type="checkbox"]:not(:checked) + label:after
  {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  input[type="checkbox"]:checked + label:after
  {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}
.primary-radio {
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked)
  {
      position: absolute;
      left: -9999px;
  }
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      // line-height: 20px;
      display: inline-block;
      color: #8D8D8D;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;

      a {
        color: #CFD330;
      }
  }
  input[type="radio"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before
  {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #8D8D8D;
      border-radius: 50%;
  }
  input[type="radio"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after
  {
      content: '';
      width: 12px;
      height: 12px;
      background: #CFD330;
      position: absolute;
      top: 4px;
      left: 4px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 50%;
  }
  input[type="radio"]:not(:checked) + label:after
  {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  input[type="radio"]:checked + label:after
  {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}
.custom-card {
  border-color: #EEEEEE;
  margin-bottom: 18px;

  .card {
    &-header {
      h1 {
        font-size: 23px;
        @include medium;
        color: #8D8D8D;
      }
    }
    &-header, &-footer {
      background-color: #FFFFFF;
      border-bottom: none;
      border-top: none;
    }
    &-body {
      padding: 28px;

      .order-items {
        &-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          color: #8D8D8D;
          font-size: 16px;
        }
      }
    }
    &-header {
      padding: 28px 28px 0 28px;
    }
    &-footer {
      margin: 0 28px 28px 28px;
      padding: 28px 0 0 0;
      border-top: 2px solid #E4E68B;

      .total {
        display: flex;
        justify-content: space-between;
        font-size: 23px;
        color: #CFD330;
        @include medium
      }
    }
  }
}
.coupon-select {
  position: relative;

  .value.not-selected {
    padding: 12px 30px;
    background: url(../images/select-arrow.svg) 90%/12% no-repeat;
  }

  .value {
    padding: 7px 30px;
    line-height: 1.2;
    border: 1px solid #EEEEEE;

    .name {
      display: block;
      @include medium;
      font-size: 20px;
      color:#A2A2A2;
    }

    .price {
      @include regular;
      font-size: 14px;
      color: #CFD330;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    border: 1px solid #EEEEEE;
    left: 0;
    right: 0;
    background: #fff;

    .coupon-item {
      border-bottom: 1px solid #EEEEEE;
      padding: 15px 30px;

      .c-radio {
        position: relative;
        float: left;
        width: 32px;
        height: 32px;
        vertical-align: top;
        margin-right: 10px;

        input {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;

          &:checked + span {
            background: url(../images/check.svg) center center no-repeat #CFD330;
          }
        }
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          background: #F2F2F2;
          border-radius: 50%;
        }
      }

      .coupon-name, .count {
        float: left;
        color: #A2A2A2;
        @include regular;
      }

      .coupon-name {
        font-size: 16px;
      }
      .count {
        font-size: 12px;
      }
    }

    .close-dropdown {
      display: block;
      @include regular;
      font-size: 14px;
      color: #CFD330;
      padding: 15px 30px;
      text-decoration: underline;
    }
  }
}




.custom-awesome-select {
  .form-control {
    padding: 12px 20px;
    height: auto;
    -webkit-appearance: none;
    @include medium;
    font-size: 20px;
    color: #8d8d8d;
    background: url(../images/select-arrow2.svg) 90%/12% no-repeat #FFFFFF;
    background-size: 25px;
  }
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  bottom: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8)
}


#floatingBarsG{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	width:233px;
  height:289px;
  margin:auto;

}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:20px;
	height:70px;
	border-radius:30px 30px 0 0;
		-o-border-radius:30px 30px 0 0;
		-ms-border-radius:30px 30px 0 0;
		-webkit-border-radius:30px 30px 0 0;
		-moz-border-radius:30px 30px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:105px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:30px;
	top:38px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:98px;
	top:11px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:30px;
	top:38px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:105px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:30px;
	bottom:26px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:98px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:30px;
	bottom:26px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:#cfd330;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:#cfd330;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:#cfd330;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:#cfd330;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:#cfd330;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}