.full--width {
  width: 100%;
}

.d-table {
	display: table;
}

.d-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.br-0 {
	border-right: 0 !important;
}