// Font definitions and default styles
@mixin light {
  font-family: $primary-font;
  font-weight: 300;
}

@mixin regular {
  font-family: $primary-font;
  font-weight: 400;
}

@mixin medium {
  font-family: $primary-font;
  font-weight: 500;
}

@mixin bold {
  font-family: $primary-font;
  font-weight: 700;
}

@mixin second {
  font-family: $second-font;
  font-weight: 400;
  font-style: normal;
}