// Variables go here

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina&subset=latin-ext');
$primary-font: 'Roboto', sans-serif;
$second-font: 'Baloo Bhaina', cursive;

$gray-color: #f8f8f8;
$dark-color: #263136;
