.basket-list {
	border: 1px solid #EEEEEE;
	border-radius: .25rem;
	padding: 30px;

	.basket-item {
		position: relative;
		padding: 15px 0;
		&:not(:last-child) {
			border-bottom: 1px solid #EEEEEE;
		}

		img {
			max-width: 100%;
		}

		.img {
			@media only screen and (min-width: 320px) and (max-width: 768px) {
				margin-bottom: 10px;
			}
		}

		.detail {
			line-height: 1.3;
			* {
				display: block;
			}
			.name {
				@include bold;
				color: #8D8D8D;
				font-size: 17px;
			}
			.time {
				@include regular;
				color: #CFD330;
				font-size: 13px;
			}
			.info {
				@include regular;
				color: #8D8D8D;
				font-size: 13px;
			}
		}

		select {
			background-color: #F8F8F8;
			border-color: #EEEEEE;
			border-radius: 0;
			color: #8D8D8D;
			width: 100%;

			@media only screen and (min-width: 767px) {
				width: 50px;
			}
		}

		.price {
			@include bold;
			color: #CFD330;
			font-size: 17px;
		}
		.valign {
			 transform: translateY(-50%);
			 background: none;
			 border: none;
			@media only screen and (min-width: 767px) {
				position: absolute;
				left: 0;
				top: 50%;
			}
		 }

		.basket-remove {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background: none;
			border: none;

			img {
				width: 15px;
			}
		}
	}

	.text-right {
		.valign {
			left: auto;
			right: 15px;
		}
	}

	.option-list {
		display: inline-block;
		@include regular;
		font-size: 14px;
		color: #CFD330;
		margin-left: 20px;
		text-decoration: underline;
	}
}

.checkout {
	border: solid 1px #eeeeee;
	margin-bottom: 52px;
	border-radius: .25rem;
	padding: 30px 30px 19px 30px;
	&-title {
		font-size: 25px;
		color: #8D8D8D;
		@include medium;
	}
	&-description {
		margin-top: 28px;
		color: #8D8D8D;
		font-size: 16px;
	}
	.checkout-progress {
		display: flex;
		width: 100%;
		position: relative;
		&-row {
			display: flex;
			flex-direction: row;
			width: 100%;
			&:before {
				top: 14px;
				bottom: 0;
				position: absolute;
				content: " ";
				width: 100%;
				height: 2px;
				background-color: #cfd330;
			}
			&-item {
				display: inline-flex;
				text-align: center;
				position: relative;
				justify-content: center;
				flex: 1;
				&:last-child {
					p {
						@media only screen and (min-width: 320px) and (max-width: 768px) {
							text-align: right;
						}
					}
				}
				&:first-child {
					justify-content: flex-start;
				}
				&:last-child {
					justify-content: flex-end;
				}
				&.progress-done {
					&:before {
						top: 14px;
						bottom: 0;
						left: 0;
						position: absolute;
						content: " ";
						width: 150%;
						height: 2px;
						background-color: #cfd330;
					}
				}
				&.in-progress {
					a {
						background: #fff;
						.in-progress-icon {
							position: absolute;
							transform: translate(-50%, -50%);
							left: 50%;
							top: 50%;
							width: 8px;
							height: 8px;
							border-radius: 100%;
							background: #43DBC4;
						}
					}
				}
				a {
					position: absolute;
					margin-bottom: 20px;
					width: 56px;
					top: -14px;
					height: 56px;
					border-radius: 100%;
					border: solid 3px #cfd330;
					background: #ffffff;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				p {
					margin-top: 55px;
					@include regular;
					font-size: 12px;
					color: #cfd330;
					text-align: center;
					@media only screen and (min-width: 320px) and (max-width: 768px) {
						text-align: left;
					}
				}
			}
		}
	}
}


.checkout-payment-information {
	.add-a-new-card {
		border-top: 0;
	}
}

.agreement-wrapper {
	border: 1px solid red;
	border-radius: 3px;
	padding: 30px;

	.primary-checkbox:not(:last-child) {
		margin-bottom: 20px;
	}
}