.contact-hero {
	&-map {
		position: relative;
		&:after {
			position: absolute;
			content: '';
			background-image: url('../images/map-shape-2.svg');
			height: 88px;
			width: 100%;
			left: 0;
			right: 0;
			z-index: 1;
			background-position: bottom;
			bottom: -30px;
			// background-repeat: no-repeat;
		}
		iframe {
			height: 388px;
		}
	}
}

.contact-detail {
	z-index: 9999;
	position: relative;
	&-area {
		// height: 482px;
		background-color: #ffffff;
		z-index: 9999;
		padding: 40px;
		margin-top: -130px;
		margin-bottom: 100px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding: 16px 32px;
		}
		h1 {
			@include bold;
			font-size: 26px;
			color: #5b5b5b;
			line-height: 30px;
			margin-bottom: 15px;
		}
		p {
			@include regular;
			font-size: 18px;
			color: #8D8D8D;
			line-height: 26px;
		}
		&-list {
			margin-top: 80px;
			display: flex;
			flex-direction: column;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				margin-top: 18px;
			}
			&-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 20px;
				i {
					margin-right: 21px;
				}
				p {
					@include light;
					font-size: 18px;
					color: #888888;
					line-height: 26px;
				}
				&-desc {
					display: flex;
					flex-direction: column;
					a {
						@include light;
						font-size: 18px;
						color: #888888;
						line-height: 26px;
					}
				}
			}
		}
		&-form {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				margin-top: 60px;
			}
			.form-group {
				input.form-control {
					border: 1px solid #E4E4E4;
					height: 44px;
					@include regular;
					font-size: 18px;
					color: #888888;
					&::placeholder {
						@include regular;
						font-size: 18px;
						color: #888888;
					}
				}
				textarea {
					@include regular;
					font-size: 18px;
					color: #888888;
					&::placeholder {
						@include regular;
						font-size: 18px;
						color: #888888;
					}
				}
			}
			&-button {
				display: flex;
				align-items: center;
				justify-content: center;
				background: #D1D701;
				border: 1px solid #EEEEEE;
				border-radius: 100px;
				@include bold;
				font-size: 18px;
				color: #FFFFFF;
				letter-spacing: 0;
				text-align: center;
				height: 58px;
				cursor: pointer;
				&:hover {
						color: #fff;
				}
			}
		}
	}
}