.help {
	margin-top: 27px;
	&-tab {
		.nav.nav-tabs {
			background: #F8F8F8;
			border: 1px solid #EEEEEE;
			border-radius: 4px 4px 0 0;
			padding: 15px 50px;
			border-bottom: 0;
			display: flex;
			flex-flow: row wrap;
			flex-direction: row;
			justify-content: space-between;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 0;
			}
			.nav-item {
				border: 0;
				display: flex;
				flex-direction: column;
				padding: 0;
				align-items: center;
				justify-content: center;
				@include regular;
				font-size: 12px;
				color: #CFD330;
				letter-spacing: 0;
				opacity: 0.5;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					border: 1px solid #EEEEEE;
					padding: 12px;
					i {
						img {
							width: 30px;
							height: 22px;
						}
					}
					span {
						display: none;
					}
				}
				&:last-child {
					margin-right: 0;
				}
				i {
					margin-bottom: 10px;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						margin-bottom: 0;
					}
				}
				&.active {
					background: transparent;
					opacity: 1;
				}
			}
		}
	}
	&-content {
		background: #FFFFFF;
		.accordion {
			.card {
				border-radius: 0;
				&-header {
					background: #fff;
					border-bottom: 0;
					padding: 12px 50px;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						padding: 12px 20px;
					}
					a {
						display: flex;
						justify-content: space-between;
						width: 100%;
						@include regular;
						font-size: 16px;
						color: #5B5B5B;
						letter-spacing: 0;
						i {
							transition: all .25s ease;
						}
						&[aria-expanded="true"] {
							i {
								-webkit-transform: rotate(90deg);
								-moz-transform: rotate(90deg);
								-o-transform: rotate(90deg);
								-ms-transform: rotate(90deg);
								transform: rotate(90deg);
							}
						}
					}
				}
				&-body {
					padding: 0 50px 12px 50px;
					@include regular;
					font-size: 16px;
					color: #5B5B5B;
					letter-spacing: 0;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						padding: 12px 20px;
					}
				}
			}
		}
	}
}