.slider {
	.item {
		background-size: cover;
		background-position: center center;
		height: 530px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			height: 350px;
		}

		&-content {
			position: absolute;
			left: auto;
			transform: translateX(0%);
			right: 25px;
			bottom: 80px;

			.biodiapy-button {
				padding: 12px 24px;
				font-size: 16px;
				border: none;
			}
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				display: none;
			}

		}

	}
	.owl-dots {
		position: absolute;
		bottom: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
			background: transparent;
		}
		.owl-dot {
			&:hover {
				span {
					background: #ffde00;
				}
			}
			span {
				background: transparent;
				border: 3px solid #323232;
				border-radius: 100%;
				width: 16px;
				height: 16px;
				margin: 0 16px 0 0;
				transition: all .25s ease;
				&:hover {
					background: #ffde00;
				}
			}
			&:focus {
				outline: 0;
			}
			&.active {
				span {
					background: #ffde00;
				}
			}
		}
	}
}

.why-biodiapy {
	background-image: url('../images/why-biodiapy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 840px;
	padding-top: 45px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		background-image: url('../images/why-biodiapy-mobile.jpg');
		height: auto;
		padding-bottom: 40px;
	}
	&-title {
		display: flex;
		justify-content: center;
		img {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				height: 91px;
			}
		}
	}
	&-description {
		margin-top: 35px;
		margin-bottom: 70px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin: 12px 0;
		}
		p {
			@include second;
			font-size: 30px;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #263136;
			line-height: 42px;
			padding: 0 20px;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 18px;
				line-height: 27px;
				padding: 0;
			}
		}
	}
	.features-list {
		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				margin-bottom: 30px;
			}
			&-image {
				padding-bottom: 16px;
				img {
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 80px;
						height: 80px;
					}
				}
			}
			&-text {
				p {
					@include medium;
					font-size: 18px;
					line-height: 21px;
					color: #263136;
					letter-spacing: 0;
					text-align: center;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.subscribe {
	padding-top: 35px;
	margin-bottom: 40px;
	&-title {
		padding-bottom: 45px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding-bottom: 20px;
		}
		.subscribe-title-baby {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				display: none;
			}
		}
	}
	&-product-list {
		.owl-nav {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				// display: none;
			}
			.owl-prev {
				position: absolute;
				top: 50%;
				left: 30px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					left: 0;
				}
				span {
					background: #D1D701 !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: 4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
			.owl-next {
				position: absolute;
				top: 50%;
				right: 30px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					right: 0;
				}
				span {
					background: #D1D701 !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: -7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: -4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
		}
	}
	&-product-description {
		margin-top: 62px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin-top: 20px;
		}
		p {
			@include medium;
			font-size: 24px;
			color: #263136;
			letter-spacing: 0;
			line-height: 28px;
			text-align: center;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 16px;
				line-height: 19px;
			}
		}
	}
}

.how-run {
	position: relative;
	height: 993px;
	background-image: url('../images/how-run-bg.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	&-bottom-bg {
		height: 310px;
		background-image: url(../images/how-run-bottom-bg.svg);
		background-position: bottom;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		right: 0;
	}
	&-title {
		display: flex;
		justify-content: center;
	}
	&-description {
		margin-top: 30px;
		margin-bottom: 30px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin-top: 12px;
			margin-bottom: 24px;
		}
		p {
			@include second;
			font-size: 20px;
			line-height: 25px;
			color: #263136;
			letter-spacing: 0;
			text-align: center;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	&-detail {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 9999;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
		p {
			text-align: center;
			@include regular;
			font-size: 20px;
			line-height: 24px;
			color: #263136;
			letter-spacing: 0;
			margin-bottom: 42px;
		}
	}
	&-list {
		margin-bottom: 42px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
		&-item {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			align-items: center;
			&-text {
				padding-top: 16px;
				text-align: center;
				h3 {
					@include second;
					font-size: 24px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: center;
					color: #263136;
				}
				p {
					padding-top: 20px;
					@include regular;
					line-height: 19px;
					font-size: 16px;
					color: #263136;
					letter-spacing: 0;
					text-align: center;
				}
			}
		}
	}
	&-list-mobile {
		@media only screen and (min-width: 767px) {
			display: none !important;
		}
		.owl-dots {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: relative;

			.owl-dot {
				&:hover,
				&:focus {
					outline: 0;
				}
				&:last-child {
					span {
						&:after {
							content: none;
						}
					}
				}
				span {
					position: relative;
					display: inline-block;
					width: 19px;
					height: 19px;
					background: #B3D8E4;
					border: 3px solid #fff;
					// margin: 0;
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
						width: 19px;
						height: 3px;
						left: 100%;
						background: #fff;
					}
				}
				&.active {
					span {
						background: #CFD330;
						height: 29px;
						width: 29px;
					}
				}
			}
		}
	}
}

.instagram-section {
	margin-top: 50px;
	margin-bottom: 64px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin: 20px 0;
	}
  &-header {
    margin-bottom: 18px;
    text-align: center;
    color: #263136;

    &-title {
      margin-bottom: 34px;
      font-size: 26px;
      letter-spacing: 2.9px;
			font-weight: bold;
			@include second;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				margin-bottom: 24px;
			}
    }
    &-description {
			font-size: 20px;
			@include regular;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 16px;
				line-height: 22px;
				padding: 0 12px;
			}
    }
  }
  &-item {
    background-color: #eeeeee;
    display: flex;
    height: 100%;
		position: relative;
		cursor: pointer;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			max-height: 203px;
		}
    a {
			display: flex;
			width: 100%;
			height: 100%;

      img {
				width: 100%;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					object-fit: cover;
				}
      }
      .hover {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(188, 188, 188, .5);
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        opacity: 0;

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
    &:hover .hover {
      opacity: 1;
    }
    &-share {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &-image {
        margin-bottom: 7px;
      }
      &-description {
        color: #8d8d8d;
				font-size: 18px;
				@include regular;
				line-height: 18px;
				// width: 205px;
				padding: 0 30px;
      }
    }
  }
}

.index-center-slider {
	.slick-list {
		margin: auto;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin: auto;
		}
	}
	.prev-button-col {
		border: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 10.7%;
		z-index: 999999;
		background-image: linear-gradient(270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 74%);
		.slick-slider-prev {
			background: 0;
			border: 0;
			position: absolute;
			top: 50%;
			left: 0;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			cursor: pointer;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				left: 0;
			}
			span {
				background: #D1D701 !important;
				width: 80px;
				height: 80px;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 9;
				position: relative;
				img {
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 11px;
						height: 20px;
					}
				}
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					width: 45px;
					height: 45px;
				}
			}
			&:after {
				content: '';
				position: absolute;
				left: 13px;
				top: 0;
				right: 0;
				opacity: 0.1;
				background: #333333;
				width: 80px;
				height: 80px;
				border-radius: 100%;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					width: 45px;
					height: 45px;
					left: 4px;
				}
			}
			&:hover,
			&:focus {
				outline: 0;
				background: transparent;
			}
		}
	}
	.next-button-col {
		background: 0;
		border: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 10.7%;
		z-index: 999999;
		background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 74%);
		.slick-slider-next {
			background: 0;
			border: 0;
			position: absolute;
			top: 50%;
			right: 0;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			cursor: pointer;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				right: 0;
			}
			span {
				background: #D1D701 !important;
				width: 80px;
				height: 80px;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 9;
				position: relative;
				img {
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 11px;
						height: 20px;
					}
				}
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					width: 45px;
					height: 45px;
				}
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 13px;
				opacity: 0.1;
				background: #333333;
				width: 80px;
				height: 80px;
				border-radius: 100%;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					width: 45px;
					height: 45px;
					left: 4px;
				}
			}
			&:hover,
			&:focus {
				outline: 0;
				background: transparent;
			}
		}
	}
	.slick-slider-prev.slick-arrow {
		left: 0;
		z-index: 999999;
		height: calc(100% - 40px);
	}
	.slick-slider-next.slick-arrow {
		right: 0;
		z-index: 99999;
		height: calc(100% - 40px);
	}
}

.slick-slide {
	margin: 0 50px;
	outline: 0;
	padding: 20px 0;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin: 0 30px;
		padding: 20px;
	}
}
/* the parent */
.slick-list {
	margin: 0 -50px;
	// padding: 20px 0;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin: 0 -30px;
	}
}

.slick-next, .slick-prev {
	background: #D1D701;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover,
	&:focus {
		background: #D1D701;
	}
}

.slick-next:before {
	content:url('../images/right-arrow.svg');
	opacity: 1;
	font-size: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-next:after {
	content: '';
	position: absolute;
	left: -7px;
	top: 0;
	right: 0;
	opacity: .1;
	background: #333;
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

.slick-prev:before {
	content:url('../images/left-arrow.svg');
	opacity: 1;
	font-size: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-prev:after {
	content: '';
	position: absolute;
	left: 7px;
	top: 0;
	right: 0;
	opacity: .1;
	background: #333;
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

.slick-slider-prev {
	background: 0;
	border: 0;
	position: absolute;
	top: 50%;
	left: -150px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		left: 0;
	}
	span {
		background: #D1D701 !important;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 9;
		position: relative;
		img {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				width: 11px;
				height: 20px;
			}
		}
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			width: 45px;
			height: 45px;
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 13px;
		top: 0;
		right: 0;
		opacity: 0.1;
		background: #333333;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			width: 45px;
			height: 45px;
			left: 4px;
		}
	}
	&:hover,
	&:focus {
		outline: 0;
		background: transparent;
	}
}

.slick-slider-next {
	background: 0;
	border: 0;
	position: absolute;
	top: 50%;
	right: -150px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		right: 0;
	}
	span {
		background: #D1D701 !important;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 9;
		position: relative;
		img {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				width: 11px;
				height: 20px;
			}
		}
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			width: 45px;
			height: 45px;
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 13px;
		opacity: 0.1;
		background: #333333;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			width: 45px;
			height: 45px;
			left: 4px;
		}
	}
	&:hover,
	&:focus {
		outline: 0;
		background: transparent;
	}
}

.instagram-modal {
	.modal-dialog {
		max-width: 920px;
		.modal-content {
			background: #FFFFFF;
			border: 1px solid #8D8D8D;
			border-radius: 0;
			.modal-body {
				padding: 25px 20px;
				.instagram-image {
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							height: 250px;
							width: 100%;
							object-fit: cover;
						}
					}
				}
				&-head {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					&-pagination {
						ul {
							display: flex;
							flex-direction: row;
							li {
								margin-right: 30px;
								&:last-child {
									margin-right: 0;
								}
								a {

								}
							}
						}
					}
				}
				&-content {
					.instagram-profile-content {
						margin-top: 70px;
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							margin-top: 20px;
						}
						&-id {
							@include bold;
							font-size: 24px;
							color: #5B5B5B;
							letter-spacing: 0;
						}
						&-detail {
							padding-top: 20px;
							p {
								@include regular;
								color: #5B5B5B;
								font-size: 18px;
								line-height: 22px;
							}
						}
					}
					&-footer {
						position: absolute;
						bottom: 0;
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							position: relative;
							margin: 20px 0;
						}
						ul {
							display: flex;
							flex-direction: row;
							li {
								margin-right: 20px;
								font-size: 20px;
								a {
									i {
										color: #8B8B8B;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.newsletter {
	width: 100%;
	height: 213px;
	background-image:
		url('../images/newsletter-section.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #263136;
	display: flex;
	align-items: center;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		background-size: cover;
	}

	&-image {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -100px;
	}

	&-description {
		text-align: center;
		margin: 0 auto 14px auto;
		@include regular;
		line-height: 22px;
		b {
			font-size: 24px;
			@include second;
		}
	}
	&-email {
		display: flex;

		&-input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border: 1px solid #e9e9e9;
			border-right: 0;
			padding: 20px 15px 20px 47px;
			height: 60px;

			&::placeholder {
				color: #8d8d8d;
				font-size: 18px;
			}
			&:focus {
				box-shadow: none;
				border-color: #e9e9e9;
			}
		}
		.email-button {
			width: 140px;
			background-color: #d3d800;
			border: 1px solid #eeeeee;
			cursor: pointer;
			color: #fff;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
		}
	}
}

@media (max-width: 575px) {
  .no-gutter-for-mobile {
    padding: 0;
    margin: 0;
  }
  .newsletter {
    background-image: none;
    background-color: #F4F4F4;
  }
}