.login {
	margin: 50px 0;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin: 50px 12px 70px 12px;
	}
	.user-login {
		&-title {
			margin-bottom: 20px;
			h1 {
				@include bold;
				font-size: 24px;
				color: #5B5B5B;
				letter-spacing: 0;
				text-align: center;
			}
		}
		&-facebook {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 0;
			margin-bottom: 20px;
			height: 60px;
			background: #4567B2;
			border: 1px solid #EEEEEE;
			border-radius: 4px;
			@include regular;
			font-size: 18px;
			letter-spacing: 0;
			a {
				color: #FFFFFF;
			}
		}
		&-seperator {
			position: relative;
			z-index: 1;
			text-align: center;
			margin-bottom: 20px;
			&:before {
				border-top: 2px solid #dfdfdf;
				content: "";
				margin: 0 auto;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				bottom: 0;
				width: 95%;
				z-index: -1;
			}
			span {
				background: #fff;
				padding: 0 15px;
			}
		}
	}
	.user-register {

	}
	&-line {
		display: flex;
		justify-content: center;
		align-items: center;
		.line {
			width: 1px;
			height: 100%;
			background: #eee;
			text-align: center;
		}
	}
	.create-user {
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin-top: 25px;
		}
	}
	.register-image {
		margin-top: 50px;
		margin-bottom: 60px;
		text-align: center;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
	}

	.user-forget {
		padding: 40px 0;
		text-align: center;
		p {
			font-size: 14px;
			color: #8D8D8D;
			font-weight: 400;
			margin-bottom: 15px;

			.mail {
				color: #D3D800
			}
		}
		.email-icon {
			width: 60px;
		}
	}
}


form {
	.form-group {
		margin-bottom: 20px;
		.login-input {
			background: #FFFFFF;
			border: 1px solid #EEEEEE;
			border-radius: 4px;
			height: 60px;
			@include regular;
			font-size: 18px;
			color: #8D8D8D;
			letter-spacing: 0;
			&::placeholder {
				@include regular;
				font-size: 18px;
				color: #8D8D8D;
				letter-spacing: 0;
				text-align: left;
			}
			&.required {
				&::after {
					content: "*";
					position: absolute;
				}
			}
		}
		&-birthday {
			display: flex;
			flex-direction: row;
			border: 1px solid #eee;
			border-radius: 4px;
			height: 60px;
			&-item {
				display: inline-flex;
				flex-grow: 1;
				border-right: 1px solid #eee;
				&:last-child {
					border-right: 0;
				}
				select {
					padding-left: 20px;
					width: 100%;
					border: 0;
					background: 0;
					-webkit-appearance: none;
					-moz-appearance: none;
					@include regular;
					font-size: 18px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #8d8d8d;
					background: url(../images/down-arrow.svg) 90% / 12% no-repeat #fff;
					&::-ms-expand {
						display: none;
					}
				}
			}
		}
		label {
			@include regular;
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #8d8d8d;
			padding-bottom: 10px;
			.required-star {
				color: #d0021b;
			}
		}
		.form-gender {
			display: flex;
			flex-direction: row;
			&-item {
				display: inline-flex;
				align-items: center;
				padding-left: 20px;
				width: 50%;
				border: 1px solid #eee;
				border-radius: 4px;
				height: 60px;
				&:first-child {
					border-right: 0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				&:nth-child(2) {
					// border-left: 0;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
				.checkbox {
					display: flex;
					flex-direction: row;
					align-items: center;
					label {
						margin-left: 12px;
						@include regular;
						font-size: 18px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #8d8d8d;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.form-forget {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.form-check {
			display: inline-flex;
			align-items: center;
			padding-left: 0;
			&-checkbox {
				margin-right: 12px;
			}
			label {
				@include regular;
				font-size: 18px;
				color: #8D8D8D;
				letter-spacing: 0;
			}
		}
		&-text {
			@include regular;
			font-size: 18px;
			color: #0063CF;
			letter-spacing: 0;
			text-decoration: underline;
		}
	}
	.form-conditions {
		.form-check {
			display: flex;
			flex-direction: row;
			padding-left: 0;
			label {
				padding-left: 10px;
				@include regular;
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #8d8d8d;
			}
		}
	}
	.form-privacy {
		a	{
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #0063cf;
			text-decoration: underline;
		}
	}
	.re-login {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		a {
			@include bold;
			font-size: 14px;
			color: #0063cf;
			text-decoration: underline;
		}
	}
}