.order-complete-head {
	text-align: center;
	margin-bottom: 32px;
	&-title {
		margin-top: 16px;
		@include bold;
		font-size: 34px;
		line-height: 40px;
		letter-spacing: 0.9px;
		color: #cfd330 !important;
	}
}

.order-complete-box {
	border: solid 1px #eeeeee;
	padding: 24px;
	border-radius: 2.5px;
	margin-bottom: 15px;
	
	&-title {
		font-size: 16px;
		@include bold;
		color: #8D8D8D;
		margin-bottom: 12px;
	}
	.user-adress-list-item-box {
		min-height: 204px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	.border-right {
		border-right: solid 1px rgba(234, 234, 234, 0.4) !important;
		&:last-child {
			border-right: 0 !important;
		}

		@media only screen and (min-width: 320px) and (max-width: 991px) {
			border-right: 0 !important;
		}

	}
	&-item {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: 100%;
		justify-content: center;

		@media only screen and (min-width: 320px) and (max-width: 991px) {
			flex-direction: row;
			justify-content: space-between;
		}

		&.order-item {
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-bottom: 24px;
			}
		}

		&.last-item {
			border-right: 0;
		}
		img {
			height: 62px;
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				width: 100px;
				height: auto;
			}
		}
		h3 {
			@include medium;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #cfd330;
		}
		.complete-box-item-title {
			@include bold;
			font-size: 16px;
			line-height: 19px;
			color: #8d8d8d;
			margin-bottom: 20px;
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				font-size: 14px;
			}
		}
		.complete-box-item-description {
			@include regular;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #8d8d8d;
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				font-size: 14px;
			}
		}
	}
	.price-item {

		@media only screen and (min-width: 320px) and (max-width: 991px) {
			display: flex;
			flex-direction: row;
		}

		&-description {
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				display: flex;
				flex-direction: column-reverse;
			}
		}

		&-title {
			display: none;
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				display: inline-flex;
				@include bold;
				font-size: 14px;
				line-height: 19px;
				color: #8d8d8d;
				margin-bottom: 20px;
			}
		}
		.price-item-one {
			@include bold;
			font-size: 16px;
			line-height: 19px;
			text-align: right;
			color: #8d8d8d;
			opacity: 0.5;

			@media only screen and (min-width: 320px) and (max-width: 991px) {
				font-size: 8px;
			}

		}
		.price-item-two {
			@include bold;
			font-size: 28px;
			line-height: 33px;
			text-align: right;
			color: #cfd330;

			@media only screen and (min-width: 320px) and (max-width: 991px) {
				font-size: 18px;
			}

		}
	}
}