.products-hero {
	height: 480px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		height: 280px;
	}
}
.products-main {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 9px 9px 8px 8px;
	min-height: 1000px;
	margin-bottom: 44px;
	padding-top: 16px;
	.subscribe-product-list {
		.owl-nav {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				// display: none;
			}
			.owl-prev {
				position: absolute;
				top: 50%;
				left: -150px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					left: 0;
				}
				span {
					background: #D1D701 !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: 4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
			.owl-next {
				position: absolute;
				top: 50%;
				right: -150px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					right: 0;
				}
				span {
					background: #D1D701 !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: -7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: -4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
		}
	}
}

.product-comments {
	&-item {
		display: flex;
		flex-direction: row;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		&-image {
			display: inline-flex;
			img {
				min-width: 50px;
				max-width: 50px;
				min-height: 50px;
				max-height: 50px;
				border-radius: 100%;
				border: 6px dashed #A1A600;
			}
		}
		&-content {
			margin-left: 21px;
			&-title {
				@include medium;
				color: #A1A600;
				font-size: 18px;
			}
			&-description {
				padding-top: 20px;
				@include regular;
				font-size: 18px;
				color: #5B5B5B;
				line-height: 21px;
			}
		}
	}
}

.product-accordion {
	.card {
		border-radius: 0;
		border: 0;
		border-top: 1px solid #eee;

		&-header {
			background-color: #fff;
			border-bottom: 0;
			padding: 14px 0;

			h5 {
				display: flex;
				justify-content: space-between;

				button {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;

					&[aria-expanded="false"] {
						i {
							transform: rotate(180deg);
						}
					}

					.button-head {
						display: flex;
						align-items: center;
					}

					&:hover, &:focus {
						text-decoration: none;
					}
					span {
						margin-left: 6px;
						color: #8d8d8d;
						font-size: 18px;
					}
				}
				i {
					margin-right: 10px;
					margin-top: 5px;
					color: #8d8d8d;
				}
			}
		}
	}
}

.product-features {
	&-item {
		display: flex;
		flex-direction: row;
		color: #5b5b5b;
		@include regular;
		font-size: 18px;
		margin-bottom: 50px;

		&-icon {
			min-width: 50px;
			max-width: 50px;
			height: 50px;
			border-radius: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			&.--purple {
				background: #0f0e9f;
			}
			&.--yellow {
				background: #d1d701;
			}
			&.--blue {
				background: #3ab3da;
			}
		}
		&-content {
			margin-left: 19px;
			display: inline-flex;
			flex-direction: column;

			&-title {
				@include bold;
				margin-bottom: 10px;
			}
		}
	}
}

.comments {
	background-image: url('../images/comments-bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 833px;
	padding-top: 45px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		height: auto;
		padding-bottom: 60px;
	}
	&-head {
		padding-top: 200px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding-top: 90px;
		}
		h1 {
			@include second;
			font-size: 34px;
			color: #0F0E9F;
			letter-spacing: 0;
			line-height: 42px;
			text-align: center;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 20px;
				line-height: 26px;
			}
		}
	}
	&-slider {
		margin-top: 32px;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-image {
				border: 6px dashed #FFFFFF;
				border-radius: 100%;
				width: 160px;
				height: 160px;
				text-align: center;
				img {
					width: 100%;
					height: 100%;
					border-radius: 100%;
				}
			}
			&-title {
				padding-top: 16px;
				color: #1100A6;
				@include bold;
				font-size: 24px;
			}
			&-description {
				padding-top: 12px;
				@include regular;
				font-size: 18px;
				color: #fff;
				line-height: 28px;
				text-align: center;
			}
		}
		.owl-nav {
			&.disabled {
				display: block;
			}
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				// display: none;
			}
			.owl-prev {
				position: absolute;
				top: 50%;
				left: -90px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					left: 0;
				}
				span {
					background: #0F0E9F !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: 4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
			.owl-next {
				position: absolute;
				top: 50%;
				right: -90px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					right: 0;
				}
				span {
					background: #0F0E9F !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: -7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: -4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
		}
	}
}

.product {
	.product-active-check {
		display: none;
	}
	&.active {
		position: relative;
		.product-active-check {
			display: block;
			width: 32px;
			height: 32px;
			background-color: #cfd330;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			position: absolute;
			right: -12px;
			top: -12px;
		}
		.product-header {
			border-top: 4px solid #cfd330;
			border-left: 4px solid #cfd330;
			border-right: 4px solid #cfd330;
		}
		.product-footer {
			border-bottom: 4px solid #cfd330;
			border-left: 4px solid #cfd330;
			border-right: 4px solid #cfd330;
		}
	}
	&-header {
		padding-top: 13px;
		border-top: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		&-image {
			img {
				width: 100%;
				height: 180px;
				object-fit: contain;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					width: auto;
					height: auto;
				}
			}
		}
		&-title {
			margin: 0;
			color: #3ab3da;
			font-size: 50px;
			text-align: center;
			padding-bottom: 10px;
			@include second;
		}
	}
	&-footer {
		border: 1px solid #eeeeee;
		padding-top: 6px;
		padding-bottom: 7px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;

		&-weight {
			display: flex;
			justify-content: center;
			align-items: center;
			border-right: 1px solid #eeeeee;
			text-align: center;
			color: #0f0e9f;
			font-size: 28px;
			font-weight: 900;
			height: 100%;
		}
		&-piece {
			display: flex;
			flex-direction: column;
			text-align: center;

			&-number {
				color: #d1d701;
				font-size: 40px;
				font-weight: bold;
			}
			&-text {
				color: #878b00;
				font-size: 14px;
			}
		}
	}
}