.story-hero {
	height: 720px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		height: 490px;
	}
	&-title {
		margin: 20px 0;
		text-align: center;
	}
	.hero-description {
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin-top: 0;
		}
		h3 {
			@include bold;
			font-size: 30px;
			line-height: 35px;
			color: #fff;
			text-align: center;
			margin-bottom: 34px;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 24px;
			}
		}
		p {
			@include regular;
			font-size: 24px;
			line-height: 35px;
			color: #fff;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}

.story {
	margin-bottom: 40px;
	&-title, &-subtitle {
		text-align: center;
		@include bold;
	}
	&-title {
		display: flex;
		flex-direction: column;
		font-size: 60px;
		color: #48c7f0;
		margin-bottom: 75px;
		@include second;
	}
	&-subtitle {
		font-size: 34px;
		color: #233137;
		@include second;
	}
	&-item {
		margin-bottom: 50px;
		color: #333;

		&-header {
			display: flex;
			align-items: center;
			text-align: center;
			height: 160px;
			// background-image: url('../images/story-box-1.svg');
			background-repeat: no-repeat;
			background-position: top;

			&-title {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 32px;
				@include bold;
			}
		}
		&-content {
			font-size: 18px;
			@include regular;
			text-align: center;
			line-height: 21px;
		}
	}
}