.section-hero {
	position: relative;
	background-image: url('../images/subscribe-bg-2.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 555px;
	margin-bottom: 100px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		height: 450px;
	}
	&-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		border-bottom: 1px solid rgba(58,179,218,0.17);
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
		&-breadcrumb {
			display: flex;
			align-items: center;
			ul {
				display: flex;
				flex-direction: row;
				li {
					@include regular;
					font-size: 13px;
					line-height: 15px;
					letter-spacing: 0;
					&:last-child {
						&:after {
							content: none;
						}
					}
					&:after {
						content: '/';
						margin-left: 6px;
						margin-right: 6px;
						color: #fff;
						@include regular;
						font-size: 13px;
					}
					a {
						color: #FFFFFF;
					}
				}
			}
		}
		&-share {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			a {
				@include regular;
				font-size: 13px;
				line-height: 15px;
				letter-spacing: 0;
				color: #fff;
				margin-right: 8px;
			}
			i {
				display: flex;
				align-items: center;
			}
		}
	}
	.hero-description {
		margin-top: 36px;
		h1 {
			@include second;
			font-size: 60px;
			color: #0F0E9F;
			letter-spacing: 0;
			text-align: center;
			line-height: 46px;
			margin-bottom: 12px;
			span {
				font-size: 30px;
				display: block;
			}
		}
		p {
			@include regular;
			font-size: 24px;
			line-height: 28px;
			color: #0F0E9F;
			letter-spacing: 0;
			text-align: center;
		}
	}
	.hero-image {
		text-align: center;
		display: none;
	}
	&-bottom-image {
		position: absolute;
		bottom: -80px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			left: auto;
			transform: inherit;
		}
	}
}

.subscribe-progress {
	margin-bottom: 50px;
	&-accordion {
		.card {
			background: #FFFFFF;
			border: 1px solid #EEEEEE !important;
			border-radius: 9px 9px 8px 8px !important;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee !important;
			&:first-of-type {
				border-bottom: 1px solid #eee !important;
			}
			&-header {
				background: #F8F8F8;
				border-radius: 9px 9px 0 0 !important;
				border-bottom: 0;
				padding: 12px 16px 10px 16px;
				h2 {
					button {
						@include bold;
						font-size: 24px;
						color: #5B5B5B;
						letter-spacing: 0;
						width: 100%;
						text-align: left;
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							font-size: 20px;
						}
						&[aria-expanded="false"] {
							i {
								img {
									transform: rotate(180deg)
								}
							}
						}
						i {
							margin-right: 16px;
						}
						&:hover,
						&:focus {
							text-decoration: none;
						}
					}
				}
			}
		}
		.slider-card {
			// padding-left: 0;
			// padding-right: 0;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				// padding-left: 12px;
				// padding-right: 12px;
			}
		}
	}
	.owl-subscribe-progress {
		.owl-stage-outer {
			padding: 20px 0;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 20px;
			}
		}
		.owl-nav {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				// display: none;
			}
			.owl-prev {
				position: absolute;
				top: 50%;
				left: -150px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					left: 0;
				}
				span {
					background: #D1D701 !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: 4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
			.owl-next {
				position: absolute;
				top: 50%;
				right: -150px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					right: 0;
				}
				span {
					background: #D1D701 !important;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 9;
					position: relative;
					img {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							width: 11px;
							height: 20px;
						}
					}
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: -7px;
					top: 0;
					right: 0;
					opacity: 0.1;
					background: #333333;
					width: 80px;
					height: 80px;
					border-radius: 100%;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						width: 45px;
						height: 45px;
						left: -4px;
					}
				}
				&:hover,
				&:focus {
					outline: 0;
					background: transparent;
				}
			}
		}
	}
	&-checkbox {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin-bottom: 20px;
		}
		.checkbox {
			margin-right: 21px;
		}
		.checkbox-detail {
			display: flex;
			flex-direction: column;
			h3 {
				color: #5B5B5B;
				font-size: 24px;
				@include bold;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					font-size: 20px;
				}
			}
			p {
				padding-top: 3px;
				@include regular;
				font-size: 18px;
				color: #8D8D8D;
			}
		}
	}
	.select-border {
		border-right: 1px solid #eeeeee;
	}
	.select-border-xs {
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			border-right: 0;
		}
	}
	.shipping-item {
		display: flex;
		align-items: center;
		height: 100%;
		img {
			width: 100%;
		}
	}
	.select-item {
		width: 100%;
		min-height: 50px;
		font-size: 1em;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFxJREFUOI3tzDEOgCAQRNFvrwnY6oFEC65sgXotG0zIRoWl1Sl35w38STMouqM8NEAAlgLsgfXuYYEdmDM4AOap0L+MZLEccTVYjkwRbxqcjhwRWy2+0gFtLf5KThtyDTCGHBCJAAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-position: 98% 50%;
		-webkit-appearance: none; appearance: none;
		background-color: transparent;
		color: #5b5b5b;
		border: 0;
		font-weight: 600;
	}
	.shipping-item-detail {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 24px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			margin-top: 12px;
			margin-bottom: 12px;
			padding-top: 12px;
			border-top: 1px solid #eee;
			padding-left: 0;
			i {
				img {
					width: 24px;
					height: 23px;
				}
			}
		}
		.shipping-item-description {
			display: flex;
			flex-direction: column;
			padding-left: 8px;
			color: #5B5B5B;
			&-title {
				@include regular;
				font-size: 18px;
				padding-bottom: 3px;
			}
			&-date {
				@include medium;
				font-size: 24px;
			}
		}
	}
	.promotion {
		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: center;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			flex-direction: column;
		}
		&-row {
			display: flex;
			align-items: center;
		}
		&-item {
			&-checkbox {
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					display: inline-flex;
				}
			}
		}
		line-height: 28px;
		&-item-image {
			padding-left: 30px;
		}
		&-item-detail {
			padding-left: 30px;
			h3 {
				@include bold;
				font-size: 24px;
				color: #5B5B5B;
			}
			p {
				@include regular;
				font-size: 18px;
				color: #8D8D8D;
			}
			ul.price {
				display: flex;
				flex-direction: row;
				li {
					padding-right: 6px;
					font-size: 24px;
					color: #5B5B5B;
					span {
						font-size: 18px;
						span.tl {
							@include regular;
						}
					}
					&.price-cancel {
						text-decoration: line-through;
						color: #8D8D8D;
					}
				}
			}
		}
	}
	.total-price {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 30px 32px 30px 50px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding: 15px;
		}
		&-item {
			p {
				@include regular;
				font-size: 18px;
				color: #5B5B5B;
				letter-spacing: 0;
			}
			&-amount {
				@include medium;
				font-size: 24px;
				color: #5B5B5B;
				letter-spacing: 0;
				span {
					font-size: 18px;
				}
			}
		}
	}
	.trial-package-amount {
		.title, .total-product {
			display: block;
			padding-left: 50px;
		}
		.total-product {
			@include regular;
			font-size: 14px;
			margin-bottom: 20px;
		}
		.title {
			@include medium;
			font-size: 23px;
			margin-bottom: 5px;
		}
		.total-price {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px 10px 10px 50px;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 15px;
			}
			&-item {
				@include regular;
				color: #8D8D8D;
				&-old {
					@include regular;
					text-decoration: line-through;
					color: #8D8D8D;
					margin-right: 10px;
				}
				.green {
					@include regular;
					color: #D1D701;
				}
				p {
					@include regular;
					font-size: 16px;
					color: #8D8D8D;
					letter-spacing: 0;
					span {
						font-size: 12px;
					}
				}
				&-amount {
					@include medium;
					font-size: 16px;
					color: #8D8D8D;
					letter-spacing: 0;
					span {
						font-size: 16px;
					}
				}
			}

			&.total {
				margin-top: 15px;
				border-top: 1px solid #D1D701;
				padding: 20px 10px 20px 50px;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					padding: 15px;
				}

				* {
					@include medium;
					color: #D1D701;
					font-size: 23px;
				}
			}
		}
	}
}

.subscribe-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px 24px;
	border-radius: 4px;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin-top: 15px;
	}

	&.subscribe-head-green-bg {
		background-color: #d3d800;
	}
	&.subscribe-head-blue-bg {
		background-color: #3ab3da;
	}
	&.subscribe-head-purple-bg {
		background-color: #877392;
	}
	&-year {
		display: inline-flex;
		@include medium;
		font-size: 25px;
		line-height: 29px;
		letter-spacing: 0.6px;
		color: #fafafa;

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			font-size: 20px;
		}

		&:after {
			content: '';
			position: relative;
			display: inline-flex;
			height: 30px;
			width: 1px;
			background: #fff;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	&-title {
		display: inline-flex;
		@include medium;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.5px;
		color: #fafafa;

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			font-size: 16px;
		}

	}
}

.subscribe-accordion {
	margin-top: 10px;
	border-radius: 4px;
	border: solid 1px #eeeeee;
	padding: 16px 20px;
	margin-bottom: 32px;


	&.bg-green {
		.subscribe-accordion-row-item.accordion-button button {
			background: #d3d800;
		}
		.subscribe-accordion-content .order-table .subscribe-cancel a {
			color: #d3d800;
			i {
				background: #d3d800;
			}
		}
	}
	&.bg-blue {
		.subscribe-accordion-row-item.accordion-button button {
			background: #3ab3da;
		}
		.subscribe-accordion-content .order-table .subscribe-cancel a {
			color: #3ab3da;
			i {
				background: #3ab3da;
			}
		}
	}
	&.bg-purple {
		.subscribe-accordion-row-item.accordion-button button {
			background: #877392;
		}
		.subscribe-accordion-content .order-table .subscribe-cancel a {
			color: #877392;
			i {
				background: #877392;
			}
		}
	}

	&-row {
		align-items: center;

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			&.accordion-row {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;

				@media only screen and (min-width: 320px) and (max-width: 767px) {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					margin-bottom: 12px;

					img {
						width: 120px;
						height: 120px;
					}

				}

			}
			&.accordion-button {
				justify-content: flex-end;
				.subscribe-accordion-row-item-description {
					h4 {
						color: #d3d800;
					}
				}
				button {
					margin-left: 20px;
					width: 24px;
					height: 24px;
					border: 0;
					border-radius: 100%;
					outline: 0;
					&[aria-expanded="false"] {
						.open-collapse {
							display: block;
						}
						.cancel-collapse {
							display: none;
						}
					}
					&[aria-expanded="true"] {
						.open-collapse {
							display: none;
						}
						.cancel-collapse {
							display: block;
						}
					}
				}
			}
			&-image {
				margin-right: 8px;
			}
			&-description {
				display: flex;
				flex-direction: column;
				h4 {
					@include bold;
					font-size: 12px;
					font-weight: bold;
					line-height: 14px;
					color: #8d8d8d;
				}
				h5 {
					margin-top: 6px;
					@include regular;
					font-family: Roboto;
					font-size: 10px;
					line-height: 11px;
					color: #8d8d8d;
				}
			}
		}
	}
	&-content {
		.order-table {
			margin-top: 30px;
			.order-table-content-item-col {
				border-bottom: 0;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					border-right: 0;
					border-bottom: solid 1px #eaeaea;
					font-size: 12px;
				}
				&:last-child {
					border-bottom: 0;
				}
			}
			.order-table-head-item {
				font-size: 14px !important;
			}
			.subscribe-cancel {
				justify-content: center;
				text-align: center;

				@media only screen and (min-width: 320px) and (max-width: 767px) {
					justify-content: space-between;
				}

				a {
					i {
						width: 16px;
						height: 16px;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background: #D3D800;
						margin-bottom: 6px;

						@media only screen and (min-width: 320px) and (max-width: 767px) {
							margin-bottom: 0;
							margin-right: 4px;
						}

					}
					color: #D3D800;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 10px;
					flex-direction: column;
				}
			}
		}
	}
}



/* Radio Elements
===============================*/
.radio {
  position:relative;
  -webkit-appearance:none;
  -moz-appearance:none;
  width:32px;
  height:32px;
  border-radius: 100%;
	-webkit-transition: all .3s ease-in-out;
	background: #fff;
}

.radio:checked {
}

.radio:checked:after{
	content: url('../images/check.svg');
	display: flex;
	justify-content: center;
	align-items: center;
	background: #CFD330;
	// border: 1px solid transparent;

}

.radio:after {
	position:absolute;
	width: 32px;
	height: 32px;
	background:#fff;
  content:"";
	border-radius: 100%;
	border: 1px solid #EEEEEE;
}