.user-information {
	margin-top: 40px;
	margin-bottom: 120px;
	.bread-crumb {
		margin-bottom: 27px;
		border-bottom: solid 1px #8d8d8d17;
		padding-bottom: 20px;
		ul {
			display: flex;
			flex-direction: row;
			li {
				@include regular;
				font-size: 13px;
				color: #8d8d8d;
				&:after {
					content: '\00a0 / \00a0';
				}
				&:last-child {
					&:after {
						content: none;
					}
				}
				a {
					color: #8d8d8d;
				}
			}
		}
	}
	.user-sidebar {
		// margin-top: 27px;
		border-radius: 4px;
		border: solid 1px #eeeeee;
		background-color: #ffffff;
		padding: 40px;
		ul {
			li {
				display: flex;
				@include regular;
				font-size: 16px;
				line-height: 45px;
				transition: all .25s ease;
				&:hover {
					a {
						&:before {
							opacity: 1;
						}
					}
				}
				&.active {
					font-weight: bold;
					a {
						color: #cfd330;
						&:before {
							opacity: 1;
						}
					}
				}
				a {
					display: flex;
					align-items: center;
					color: #8d8d8d;
					transition: all .25s ease;
					&:before {
						content: '';
						opacity: 0;
						display: inline-flex;
						width: 0;
						height: 0;
						border-top: 6px solid transparent;
						border-bottom: 6px solid transparent;
						border-left: 6px solid #cfd330;
						margin-right: 6px;
					}
				}
			}
		}
	}
	.user-content {
		// margin-top: 27px;
		border-radius: 4px;
		border: solid 1px #eeeeee;
		background-color: #ffffff;
		padding: 35px 95px;

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding: 35px 20px;
		}

		.form-group {
			margin-bottom: 32px;
		}

	}
	.form-title {
		@include medium;
		font-size: 25px;
		font-weight: 500;
		line-height: 29px;
		letter-spacing: 0.6px;
		text-align: left;
		color: #d1d701;
		margin-bottom: 32px;
	}
	.user-order {
		// margin-top: 27px;
		h1 {
			font-size: 25px;
			@include medium;
			color: #8D8D8D;
			margin-bottom: 44px;
		}
		&-table {
			border: solid 1px #eeeeee;
			background-color: #ffffff;
			border-radius: 4px;
			border-collapse: inherit;
			thead {
				background-color: #f8f8f8;
				border-radius: 4px;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					display: none;
				}
				tr {
					th {
						border: 0;
						padding: 35px 20px;
						border-right: 1px solid #eaeaea;
						text-align: center;
						vertical-align: middle;
						@include regular;
						font-size: 16px;
						color: #8d8d8d;
						&:last-child {
							border-right: 0;
						}
					}
					.order-name-heading {
						text-align: left;
					}
				}
			}
			tbody {
				tr {
					@media only screen and (min-width: 320px) and (max-width: 767px) {
					}
					&:first-child {
						td, th {
							border-top: none;
						}
					}
					td, th {
						border-right: 1px solid #eaeaea;
						border-top: 1px solid #eaeaea;
						@include regular;
						font-size: 16px;
						color: #5b5b5b;
						vertical-align: middle;
						text-align: center;
						padding: 26px 20px;
						&:last-child {
							border-right: 0;
						}
						strong {
							font-weight: bold;
						}
						p {
							@include regular;
							font-size: 16px;
							color: #8d8d8d;
						}
						.order-name {
							display: flex;
							flex-direction: row;
							align-items: center;
							text-align: left;
							img {
								margin-right: 10px;
							}
							a {
								@include medium;
								color: #cfd330;
							}
						}
						&.not-found {
							text-align: left;
							@media only screen and (min-width: 320px) and (max-width: 767px) {
								padding: 49px;
							}
							p {
								@include regular;
								font-size: 16px;
								color: #8d8d8d;
							}
						}
						.table-order-mobile-name {
							display: none;
							@media only screen and (min-width: 320px) and (max-width: 767px) {
								display: block;
								width: 60%;
								text-align: left;
							}
						}
						.table-order-data {
							@media only screen and (min-width: 768px) {
								p {
									padding: 0 100px;
									text-align: left;
								}
							}
						}
					}
					.table-order-mobile-footer {
						display: none;
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							display: flex;
							justify-content: space-between;
							border-top: solid 1px #eaeaea !important;
							padding: 17px 20px;
							&-name {
								@include medium;
								font-size: 16px;
								color: #5b5b5b;
							}
						}
					}
					td {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							display: flex;
							padding: 6px 20px;
							border-right: 0;
							border-top: 0;
							&.order-name-td {
								padding: 6px 0;
							}
							.order-name {
								flex-direction: column;
								padding-bottom: 12px;
								margin-bottom: 5px;
								border-bottom: solid 1px #eaeaea;
								width: 100%;
								img {
									width: 154px;
									height: 90px;
									margin-bottom: 20px;
								}
							}
						}
					}
				}
			}
		}
		.user-adress-list {
			margin-bottom: 20px;
			&-item {
				margin-top: 10px;
				margin-bottom: 50px;
				&-title {
					margin-bottom: 20px;
					h3 {
						@include medium;
						font-size: 18px;
						line-height: 21px;
						color: #8d8d8d;
					}
				}
				&-box {
					border-radius: 4px;
					border: solid 1px #eeeeee;
					background-color: #ffffff;
					padding: 25px 20px;
					&-content {
						@include regular;
						font-size: 18px;
						color: #8d8d8d;
						line-height: 24px;
						.adress-item-text {
							margin-bottom: 16px;
						}
						.adress-item-post-code {
							margin-bottom: 16px;
						}
						.adress-item-tel-no {
							margin-bottom: 16px;
						}
					}
					&-footer {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						a {
							display: flex;
							@include regular;
							font-size: 12px;
							text-decoration: underline;
							color: #CFD330;
							i {
								margin-left: 8px;
								color: #CFD330;
							}
						}
					}
				}
			}
			.new-adress-add {
				margin-top: 60px;

				&-center {
					display: flex;
					justify-content: center;
					margin-top: 0;
				}
			}
		}
		&-table-title {
			@include regular;
			font-size: 16px;
			color: #8d8d8d;
			margin-bottom: 12px;
		}
		&-head {
			margin-bottom: 20px;
			h4 {
				@include medium;
				font-size: 16px;
				color: #8d8d8d;
			}
			p {
				@include regular;
				font-size: 14px;
				line-height: 21px;
				color: #8d8d8d;
			}
		}
		.payment-head {
			margin-bottom: 20px;
			&-note {
				p {
					@include regular;
					font-size: 14px;
					line-height: 21px;
					color: #5b5b5b;
				}
			}
			&-safe {
				display: flex;
				height: 100%;
				align-items: center;
				flex-direction: row;
				justify-content: flex-end;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					justify-content: flex-start;
					margin-bottom: 20px;
				}
				span {
					@include regular;
					font-size: 12px;
					color: #000000;
				}
				i {
					margin-left: 7px;
					svg {
						width: 16px;
						height: 19px;
					}
				}
			}
		}
		.payment-method {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 16px 0;
			}
			tbody {
				tr {
					th {
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							border-right: 0;
							border-bottom: 0;
							border-top: 0;
							padding: 26px 12px;
							.checkbox {
								input {
									width: 28px;
									height: 28px;
									&:after {
										width: 28px;
										height: 28px;
									}
								}
							}
						}
					}
					td {
						a {
							@include regular;
							font-size: 12px;
							color: #0063cf;
							text-decoration: underline;
						}
					}
				}
			}
		}
		.payment-add-button {
			.payment-button {
				display: none;
			}
			.payment-add {
				display: flex !important;
			}
			&.collapsed {
				.payment-button {
					display: flex;
				}
				.payment-add {
					display: none !important;
				}
			}
		}
		.payment-method-footer {
			margin-top: 45px;
			padding: 0 20px;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 0;
			}
			span {
				display: flex;
				align-items: center;
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #0063cf;
			}
			.credit-card-support-list {
				display: flex;
				flex-direction: row;
				align-items: center;
				&-item {
					margin-left: 10px;
				}
			}
			.payment-add {
				display: flex;
				align-items: center;
				margin-left: 10px;
				@include regular;
				font-size: 16px;
				color: #0063cf;
				text-decoration: underline;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					margin-bottom: 12px;
				}

				i {
					margin-right: 10px;
				}
			}
		}
		.subscribe-table {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 20px 0;
				.subscribe-table-heading {
					display: none;
				}
			}
		}
	}
	.order-table {
		@media only screen and (min-width: 320px) and (max-width: 991px) {
			margin-top: 30px;
		}
		&-head {
			border: solid 1px #eeeeee;
			background-color: #f8f8f8;
			border-bottom: 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			@media only screen and (min-width: 320px) and (max-width: 991px) {
				display: none;
			}
			&-item {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				@include regular;
				font-size: 16px;
				line-height: 19px;
				color: #8d8d8d;
				border-right: solid 1px #eaeaea;
				padding: 35px 0;
				&:last-child {
					border-right: 0;
				}
				&.product-name {

				}
			}
		}
		&-content {
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
			border-left: 1px solid #eaeaea;
			border-right: 1px solid #eaeaea;
			&-item-col {
				@include regular;
				font-size: 16px;
				line-height: 19px;
				color: #5b5b5b;
				border-right: solid 1px #eaeaea;
				border-bottom: solid 1px #eaeaea;
				display: flex;
				padding-top: 35px;
				padding-bottom: 35px;
				align-items: center;
				justify-content: center;

				@media only screen and (min-width: 320px) and (max-width: 991px) {
					padding-top: 12px;
					padding-bottom: 12px;
					justify-content: space-between;
				}

				.mobile-col {
					display: none;
					@media only screen and (min-width: 320px) and (max-width: 991px) {
						display: inline-flex;
					}
				}

				strong {
					@include bold;
				}

				&:last-child {
					border-right: 0;
				}
				&.product-name {
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						flex-direction: column;
						img {
							width: 150px;
							height: 90px;
							margin-bottom: 10px;
						}
					}
					a {
						margin-left: 6px;
						color: #cfd330;
					}
				}
			}
			&-detail {
				padding-top: 35px;
				padding-bottom: 35px;
			}
		}
	}
	.add-a-new-card {
		border-top: 1px solid #eaeaea;
		margin-top: 45px;
		padding-top: 20px;

		&-item {
			margin-bottom: 20px;

			.row-5 {
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					margin-right: -5px;
					margin-left: -5px;
					label {
						margin-left: -8px;
					}
				}
			}

			.credit-card-block {
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					padding-left: 5px;
					padding-right: 5px;
				}
			}

			.cvc-2 {
				position: relative;
				.more-info {
					display: flex;
					font-size: 12px;
					text-align: right;
					height: 40px;
					align-items: center;
					color: #0063cf;
					text-decoration: underline;
					cursor: pointer;
					&:hover {
						&~.more-info-hover {
							display: block;
							@media only screen and (min-width: 320px) and (max-width: 767px) {
								display: none;
							}
						}
					}
				}
				.more-info-hover {
					width: 425px;
					top: -67px;
					height: 195px;
					background: url(../images/cvc.png);
					background-repeat: no-repeat;
					position: absolute;
					left: 85px;
					z-index: 2;
					display: none;
				}
			}

			label {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
				height: 100%;

				@media only screen and (min-width: 320px) and (max-width: 767px) {
					height: auto;
				}

				@media (max-width: 576px) {
					display: flex;
					align-items: flex-start;
					margin-bottom: 10px;
				}

				span {
					color: #8d8d8d;
					font-size: 16px;
					@include regular;
				}
				a {
					font-size: 12px;
					@include regular;
				}
			}
		}
		.credit-card-checkbox {
			display: flex;
			margin-bottom: 20px;

			label {
				font-size: 12px;
				@include regular;
				margin-left: 10px;
				margin-top: 2px;

				@media only screen and (min-width: 320px) and (max-width: 767px) {
					margin-top: 0;
				}

			}
			a {
				text-decoration: underline;
			}
		}
	}
	.installment-area {
		border: 1px solid #EEEEEE;
		border-radius: 4px;
		margin-top: 32px;

		&-item {
			padding: 12px 0;
			text-align: center;
			color: #8D8D8D;
			font-size: 16px;
			&:not(:last-child) {
				border-bottom: 1px solid #EEEEEE;
			}
			&-bold-text {
				@include bold;
			}
			&:hover, &.active {
				background-color: #CFD330;
				color: #FFFFFF;
			}
		}
	}
	.basket-items {
		margin-top: 30px;
		margin-bottom: 30px;
		border: 1px solid #EEEEEE;
		border-radius: 4px;

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 25px 40px;
			font-size: 13px;
			@include medium;
			color: #8D8D8D;

			&:not(:last-child) {
				border-bottom: 1px solid #EEEEEE;
			}
			img {
				width: 100%;
			}
			&-size {
				font-style: italic;
			}
		}
	}
}

.bio-modal {
	.modal-content {
		padding: 30px 36px;
	}
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 37px;

		.close {
			img {
				width: 19px;
				height: 19px;
			}
		}
		h2 {
			color: #5b5b5b;
			font-size: 16px;
			font-weight: normal;
		}
	}

	textarea {
    border: 1px solid #EEE;
    border-radius: 4px;
	}
	.form-gender {
		display: flex;
		flex-direction: row;
		height: 100%;
		align-items: center;

		&-item {
			margin-left: 10px;

			.checkbox {
				display: inline-flex;
				align-items: center;

				label {
					padding-left: 10px;
				}
			}
		}
	}
}


.payment-info {
	margin-top: 30px;
	&-title {
		margin-bottom: 20px;
		h3 {
			@include medium;
			font-size: 18px;
			line-height: 21px;
			color: #8d8d8d;
		}
	}
	&-box {
		border-radius: 4px;
		border: 1px solid #eee;
		background-color: #fff;
		padding: 25px 20px;
		&-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			@include regular;
			font-size: 18px;
			line-height: 34px;
			color: #8d8d8d;
			&.card-information {
				margin-bottom: 12px;
			}
			&.payment-info-box-footer {
				margin-top: 12px;
				@include bold;
				font-size: 29px;
			}
		}
	}
}

.cargo-info {
	margin-top: 30px;
	&-title {
		margin-bottom: 20px;
		h3 {
			@include medium;
			font-size: 18px;
			line-height: 21px;
			color: #8d8d8d;
		}
	}
	&-box {
		border-radius: 4px;
		border: 1px solid #eee;
		background-color: #fff;
		padding: 25px 20px;
		min-height: 212px;
		&-title {
			@include bold;
			font-size: 20px;
			line-height: 21px;
			color: #8d8d8d;
		}
		&-name {
			@include regular;
			font-size: 18px;
			line-height: 21px;
			color: #8d8d8d;
		}
		&-link {
			padding-top: 60px;
			@include medium;
			font-size: 18px;
			line-height: 21px;
			text-decoration: underline;
			color: #cfd330;
			text-align: right;
		}
	}
}

.coupon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38px;
	width: 100%;
	background: #D1D701;
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	@include regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	cursor: pointer;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin-top: 10px;
	}
}