.why-biodiapy-hero {
	height: 440px;
	.hero-description {
		margin-top: 20px;
		p {
			@include regular;
			font-size: 20px;
			color: #FFFFFF;
			letter-spacing: 0;
			text-align: center;
		}
	}
}

.why-biodiapy-image {
	width: 150px;
	height: 140px;
}

.why-biodiapy-subscribe {
	margin-bottom: 40px;
	&-head {
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			img {
				height: 100px;
			}
		}
	}
	&-image {
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			img {
				height: 139px;
				object-fit: contain;
			}
		}
	}
}

.subscribe-bullets{
	position: relative;
	margin: 80px 0;
	.blank-page-leaf {
		img {
			position: sticky;
			top: 0;
		}
	}
	.blank-detail {
		p {
			margin-bottom: 15px;
			font-size: 15px;
			color: #263136;
		}
	}
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		margin: 40px 0;
	}
}
.subscribe-bullets .left-area{background:url(../images/left-bg.png);background-size: contain;background-repeat: no-repeat;background-position: left center;position: relative;height: 550px;}
.subscribe-bullets .left-area a{
    width: 90px;
    height: 90px;
    border-radius: 500px;
    border: 5px solid #EEEFC1;
    display: block;
    padding: 10px;
    position: absolute;
    background: #fff;
    transition: border-color .25s ease;
    z-index: 2;
}

.subscribe-bullets .left-area a:nth-child(1){
    top: 0;
    left: 50%;
}
.subscribe-bullets .left-area a:nth-child(2){
    top: 10%;
    right: 10%;
}
.subscribe-bullets .left-area a:nth-child(3){
    top: 45%;
    right: -6%;
}
.subscribe-bullets .left-area a:nth-child(4){
    right: 9%;
    bottom: 11%;
}
.subscribe-bullets .left-area a:nth-child(5){
    bottom: 0;
    left: 50%;
}
.subscribe-bullets .left-area a:nth-child(6){
    bottom: 12%;
    left: 20%;
}
.subscribe-bullets .left-area a img{
	// width: 78px;
	// height: 98px;
}
.subscribe-bullets .left-area a.active{
	transform: scale(1.3);
	transition: all .25s ease;
    border-color: #CFD330;
    border-width: 3px;
    padding: 17px;
    background-image: url('../images/active-border.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
.subscribe-bullets .right-area{
	height: 550px;
	position: relative;
}
.subscribe-bullets .right-area:after{
	background-image: url('../images/right-bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px center;
	content:'';
	position: absolute;
	left: -90px;
	top:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.subscribe-bullets .right-area .content{}
.subscribe-bullets .right-area .content-holder img{
	width: 68px;
	height: 78px;
	object-fit: contain;
	margin-bottom: 4px;
}
.subscribe-bullets .right-area .content-holder h2{
	@include second;
	font-size: 27px;
	color: #233137;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		text-align: center;
	}
}
.subscribe-bullets .right-area .content-holder p{
	@include regular;
	font-size: 18px;
	line-height: 25px;
	color: #233137;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		text-align: center;
	}
}
.subscribe-bullets .right-area .content-holder{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 110px 120px 0px 60px;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		text-align: center;
	}

}

.subscribe-bullets .left-area a{
    transition-duration: 0s;
}


@media only screen and (max-width : 1200px) {
	.subscribe-bullets .left-area a:nth-child(1){
    top: 7%;
    left: 50%;
}
.subscribe-bullets .left-area a:nth-child(2){
    top: 18%;
    right: 6%;
}
.subscribe-bullets .left-area a:nth-child(3){
    top: 45%;
    right: -6%;
}
.subscribe-bullets .left-area a:nth-child(4){
    right: 10%;
    bottom: 16%;
}
.subscribe-bullets .left-area a:nth-child(5){
    bottom: 8%;
    left: 50%;
}
.subscribe-bullets .left-area a:nth-child(6){
    bottom: 17%;
    left: 20%;
}

}

@media only screen and (max-width : 992px) {
	.subscribe-bullets .left-area{height: 350px;background-position: center center;width: 430px;margin: 0 auto;}
		.subscribe-bullets .left-area a:nth-child(1){
    top: -8%;
    left: 50%;
}
.subscribe-bullets .left-area a:nth-child(2){
    top: 8%;
    right: 6%;
}
.subscribe-bullets .left-area a:nth-child(3){
    top: 45%;
    right: -5%;
}
.subscribe-bullets .left-area a:nth-child(4){
    right: 8%;
    bottom: 4%;
}
.subscribe-bullets .left-area a:nth-child(5){
    bottom: -8%;
    left: 50%;
}
.subscribe-bullets .left-area a:nth-child(6){
    bottom: 7%;
    left: 24%;
}
.subscribe-bullets .right-area {
    height: auto;
}
.subscribe-bullets .right-area:after{
    background-image: none;
}
.subscribe-bullets .right-area .content-holder{
    padding: 30px 10px;
    top: auto;
    transform: initial;
}


}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {
	.subscribe-bullets .left-area{height: 350px;background-position: -20px center;width: 362px;margin: 0 auto;/* overflow: hidden; */background-size: 90%;}
		.subscribe-bullets .left-area a:nth-child(1){
    top: 1%;
    left: 40%;
}
.subscribe-bullets .left-area a:nth-child(2){
    top: 14%;
    right: 15%;
}
.subscribe-bullets .left-area a:nth-child(3){
    top: 41%;
    right: 6%;
}
.subscribe-bullets .left-area a:nth-child(4){
    right: 16%;
    bottom: 14%;
}
.subscribe-bullets .left-area a:nth-child(5){
    bottom: 3%;
    left: 42%;
}
.subscribe-bullets .left-area a:nth-child(6){
    bottom: 8%;
    left: 14%;
}

}