footer {
	position: relative;
	background: $gray-color;
	&:before {
		position: absolute;
		content: '';
		background-image: url('../images/footer-clouds.svg');
		height: 128px;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		background-position: top;
		top: -35px;
	}
	// height: 275px;
	.footer-menu {
		padding-top: 32px;
		position: relative;
		z-index: 999;
		&-widget-border {
			border-left: 1px solid #eeeeee;
			// border-right: 1px solid #eeeeee;
		}
		&-widget {
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				display: flex;
				flex-direction: column;
				text-align: center;
				margin-bottom: 16px;
			}
			&-title {
				font-size: 12px;
				@include bold;
				letter-spacing: 1.9px;
				color: $dark-color;
				margin-bottom: 24px;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					letter-spacing: 0;
					text-align: left;
				}
			}
			&-social {
				display: flex;
				flex-direction: row;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					justify-content: left;
				}
				li {
					margin-right: 24px;
					&:last-child {
						margin-right: 0;
					}
					a {
						color: #8b8b8b;
						i {
							font-size: 15px;
						}
					}
				}
			}
			h3 {
				margin-top: 36px;
				@include bold;
				font-size: 13px;
				letter-spacing: 1.9px;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					letter-spacing: 0;
					text-align: left;
				}
				a {
					color: #263136;
				}
			}
			ul {
				li {
					font-size: 12px;
					@include medium;
					line-height: 1.46;
					letter-spacing: 1.9px;
					margin-bottom: 12px;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						letter-spacing: 0;
						text-align: left;
					}
					a {
						color: #5b5b5b;
						transition: all .25s ease;
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
			&.-home {
				ul {
					li {
						font-size: 13px;
						@include bold;
						line-height: 1.46;
						letter-spacing: 1.9px;
						margin-bottom: 12px;
						@media only screen and (min-width: 320px) and (max-width: 767px) {
							font-size: 12px;
						}
						&:last-child {
							margin-bottom: 0;
						}
						a {
							color: $dark-color;
						}
					}
				}
			}
		}
	}
	.footer-menu-copyright {
		display: none;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: flex;
			p {
				@include light;
				font-size: 12px;
				text-align: left;
				color: $dark-color;
			}
		}
	}
	.footer-copyright {
		padding-top: 36px;
		padding-bottom: 24px;
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
		p {
			@include light;
			font-size: 12px;
			text-align: center;
			color: $dark-color;
		}
	}
	.footer-bank {
		display: flex;
		align-items: center;
		padding: 10px 0;
		background-color: #ffffff;
		&-security {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 100%;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				justify-content: center;
				padding: 10px 0;
			}
			&-item {
				display: inline-flex;
				align-items: center;
				margin-right: 20px;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					margin-right: 20px;
				}
				span {
					@include medium;
					font-size: 13px;
					color: #263136;
					letter-spacing: 0;
					white-space: pre-line;
					@media only screen and (min-width: 320px) and (max-width: 767px) {
						font-size: 10px;
						white-space: nowrap;
					}
				}
			}
		}
		&-list {
			display: flex;
			align-items: center;
			height: 100%;
			@media only screen and (min-width: 320px) and (max-width: 767px) {
				padding: 0 50px;
			}
			.row {
				height: 100%;
			}
			&-item {
				display: inline-flex;
				height: 100%;
			}
		}
	}
}