header.header {
	padding: 15px 0 0 0;
	box-shadow: 0 2px 2px 0 rgba(80, 80, 80, 0.4);
	z-index: 999;
	position: relative;
	@media only screen and (min-width: 320px) and (max-width: 991px) {
		display: none;
	}
}

header.header nav.navbar {padding: 0;}
header.header nav.navbar ul {width: 100%;}
header.header nav.navbar ul li.nav-item a.nav-link {
	padding: 25px 15px !important;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1.9px;
	color: #263136;
}

header.header nav.navbar ul li.nav-item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

header.header nav.navbar .navbar-toggler {
	padding: 10px 0;
	color: #263136;
	border: none;
	width: 100%;
	text-align: right;
}

header.header nav.navbar .navbar-toggler .menu-text {
	font-size: 13px;
	font-weight: bold;

}
header.header nav.navbar .language {
	position: relative;
	padding-left: 15px;
}

header.header nav.navbar .language .dropdown.open .dropdown-menu {
	display: block;
}

header.header nav.navbar .language .dropdown-toggle{
	color:#263136;
	font-weight: bold;
	font-size: 14px;
}

.banner {
	text-align: center;
}


header.header nav.navbar .language .dropdown-menu {
	min-width: 75px;
	padding: 0;
	background-color: #f7f7f7;
	border: none;
	border-radius: 0;
}
header.header nav.navbar .language .dropdown-menu .dropdown-item.active,
header.header nav.navbar .language .dropdown-menu .dropdown-item:active{
	background-color: #f7f7f7;
	color:#263136;
}

header.header nav.navbar .language:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background-color: #ddd;
}
.logo {display: block;}

.logo img {
	max-width: 142px;
}

header.header .header-top {
	position: relative;
	padding-bottom: 15px;
}

header.header .header-top:after {
	content: "";
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(221,221,221,0.1);
	background: -moz-linear-gradient(left, rgba(221,221,221,0.1) 0%, rgba(221,221,221,1) 50%, rgba(221,221,221,0.1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,221,221,0.1)), color-stop(50%, rgba(221,221,221,1)), color-stop(100%, rgba(221,221,221,0.1)));
	background: -webkit-linear-gradient(left, rgba(221,221,221,0.1) 0%, rgba(221,221,221,1) 50%, rgba(221,221,221,0.1) 100%);
	background: -o-linear-gradient(left, rgba(221,221,221,0.1) 0%, rgba(221,221,221,1) 50%, rgba(221,221,221,0.1) 100%);
	background: -ms-linear-gradient(left, rgba(221,221,221,0.1) 0%, rgba(221,221,221,1) 50%, rgba(221,221,221,0.1) 100%);
	background: linear-gradient(to right, rgba(221,221,221,0.1) 0%, rgba(221,221,221,1) 50%, rgba(221,221,221,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd', GradientType=1 );
}

.list {display:flex;justify-content: flex-end;align-items: center;padding-top:25px;margin-bottom: 0;}
.list li {display: block;float: left;padding: 0 8px;position: relative;}
.list li a {color:#263136;font-weight: bold;text-decoration: none;letter-spacing: 2px;font-size: 12px;}
.list li img {width: 18px;}

.badge {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 10px;
	text-align: center;
	font-size: 11px;
	color: #fff;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
	position: absolute;
	bottom: -5px;
	right:5px;
	background-color: #d56b73;
}

header.header nav.navbar ul li.nav-item a.nav-link {
	transition: all .25s ease;
	&:hover {
		opacity: 0.6;
	}
}

@media (max-width: 1199px) {
	header.header nav.navbar ul li.nav-item a.nav-link {font-size: 11px;}
	header.header .header-top .banner {
			max-width: 100%;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
	}
	header.header .header-top header.header .header-list {
			max-width: 100%;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
	}

	header.header .header-top header.header .header-list .list {justify-content: center;padding-top: 5px;}
}

@media (max-width: 992px) {
	header.header .navbar-collapse {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			border:1px solid #ddd;border-top: none;
	}
	header.header .navbar-collapse .language {margin-top: 0 !important;}
	header.header .navbar-collapse .language .dropdown-toggle {padding-left: 0;}
	header.header .navbar-collapse .language:before {display: none;padding-left: 0;}
	header.header nav.navbar ul li.nav-item a.nav-link {
			padding: 15px 15px 5px 15px !important;
			background-color: #fff;
	}
	header.header nav.navbar ul li.nav-item a.nav-link {
			color: #263136;
			font-size: 13px;
	}
	header.header nav.navbar .language .dropdown-toggle {
			font-size: 14px;
	}
	.list {justify-content: center}
}

@media (max-width: 767px) {
	.logo {
			text-align: center;
	}
	.logo img {
			max-width: 100px;
	}
	.list li a {font-size: 13px}
	.list li a img {width: 16px}
	span.badge {
		right: -3px;
	}
}

.user-dropdown {
	.dropdown-menu {
		border: solid 1px #eeeeee;
		background-color: #ffffff;
		border-radius: 0;
		margin-top: 20px;
		a {
			@include regular;
			font-size: 11px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2.09;
			letter-spacing: normal;
			text-align: left;
			color: #8d8d8d;
			&.active {
				color: #cfd330;
				@include bold;
				background: 0;
			}
			&:focus {
				background: 0;
			}
		}
	}
	.dropdown-menu:before {
		position: absolute;
		top: -8px;
		left: 41px;
		display: inline-block;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #eee;
		border-left: 8px solid transparent;
		content: '';
	}

	.dropdown-menu:after {
		position: absolute;
		top: -7px;
		left: 42px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ffffff;
		border-left: 7px solid transparent;
		content: '';
	}
}

.basket-dropdown {
	&:hover {
		.dropdown-menu {
			display: block;
		}
	}
	.dropdown-menu {
		padding: 0;
		margin: 0;
		.basket-dropdown-head {
			background-color: #cfd330;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			padding: 9px 0;
			@include bold;
			font-size: 12px;
			line-height: 14px;
			text-align: center;
			color: #ffffff;
			margin-bottom: 16px;
		}
		.basket-dropdown-list {
			&-item {
				margin-bottom: 16px;
				text-align: center;
				position: relative;
				.basket-remove {
					border: 0;
					background: 0;
					position: absolute;
					outline: 0;
					cursor: pointer;
					right: 12px;
					top: -12px;
					i {
						img {
							width: 6px;
							height: 6px;
						}
					}
				}
				h4 {
					@include medium;
					font-size: 12px;
					line-height: 14px;
					text-align: center;
					color: #5a5a5a;
					margin-bottom: 8px;
				}
				img {
					width: 90px;
					height: 60px;
				}
			}
		}
	}
}



.header-mobile {
	display: flex;
	align-items: center;
	height: 84px;
	box-shadow: 0 2px 2px 0 rgba(80, 80, 80, 0.4);
	z-index: 999;
	position: relative;
	@media only screen and (min-width: 991px) {
		display: none;
	}
	&-hamburger {
		display: flex;
		align-items: center;
		height: 84px;
		.menu-open {}
		.menu-close {
			z-index: 99999;
			position: relative;
		}
	}
	&-logo {
		display: flex;
		justify-content: center;
	}
	&-list {
		display: flex;
		height: 84px;
		align-items: center;
		ul {
			display: flex;
			flex-direction: row;
			li {
				position: relative;
				margin-right: 14px;
				&:last-child {
					margin-right: 0;
				}
				img {
					width: 20px;
					height: 22px;
				}
			}
		}
	}
	&-open {
		display: none;
		background: #CFD330;
		height: 100vh;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		&-container {
			position: relative;
			padding: 90px 0 45px 0;
			height: 100vh;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			text-align: center;
			ul.menu {
				li {
					margin-bottom: 50px;
					@include bold;
					font-size: 13px;
					color: #FFFFFF;
					letter-spacing: 1.86px;
					&:last-child {
						margin-bottom: 0;
					}
					a {
						color: #fff;
					}
				}
			}
			ul.header-mobile-open-social {
				position: absolute;
				left: auto;
				right: auto;
				width: 100%;
				bottom: 45px;
				h2 {
					@include bold;
					font-size: 13px;
					color: #FFFFFF;
					letter-spacing: 0;
					margin-bottom: 10px;
				}
				li {
					display: inline-flex;
					margin-right: 24px;
					&:last-child {
						margin-right: 0;
					}
					a {
						color: #fff;
						font-size: 16px;
					}
				}
			}
		}
	}
}