{% extends "./templates/layout.nunjucks" %}

{% block title %}Hediye Çeklerim{% endblock %}

{% block content %}

<main class="user-information">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="bread-crumb">
					<ul>
						<li><a href="#">Anasayfa</a></li>
						<li><a href="#">Ödeme Yöntemi</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="user-sidebar d-none d-md-block">
					<ul>
						<li><a href="#">Üye Bilgilerim</a></li>
						<li><a href="#">Alışveriş Sepetim</a></li>
						<li><a href="#">Siparişlerim</a></li>
						<li><a href="#">Abonelikler</a></li>
						<li><a href="#">Ödeme Yöntemlerim</a></li>
						<li class="active"><a href="#">Hediye Çeklerim</a></li>
						<li><a href="#">Adres Defteri</a></li>
						<li><a href="#">Yardım</a></li>
						<li><a href="#">Güvenli Çıkış</a></li>
					</ul>
				</div>
				<select class="user-sidebar-select d-md-none">
					<option value="">Üye Bilgilerim</option>
					<option value="">Alışveriş Sepetim</option>
					<option value="">Siparişlerim</option>
					<option value="">Ödeme Yöntemlerim</option>
					<option value="">Hediye Çeklerim</option>
					<option value="">Adres Defteri</option>
					<option value="">Yardım</option>
					<option value="">Güvenli Çıkış</option>
				</select>
			</div>
			<div class="col-lg-9">
				<div class="user-order">
					<div class="user-order-head">
						<h4>Affiliate Programı</h4>
						<hr>
					</div>
					<form action="">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label for="">Referans Adresiniz</label>
									<input type="text" class="form-control login-input">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="">Referans Kodunuz</label>
									<input type="text" class="form-control login-input">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="user-order">
					<h4 class="user-order-table-title">Puanlarım</h4>
					<table class="table user-order-table">
						<thead>
							<tr>
								<th scope="col">Tarih</th>
								<th scope="col" colspan="2">İşlem</th>
								<th scope="col">Kazanç</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="table-order-mobile-name">Tarih:</div>
									<div class="table-order-data">13.02.2019</div>
								</td>
								<td colspan="2">
									<div class="table-order-mobile-name">İşlem:</div>
									<div class="table-order-data">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.
										</p>
									</div>
								</td>
								<td>
									<div class="table-order-mobile-name">Kazanç:</div>
									<div class="table-order-data"><strong>80,00₺</strong></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}