{% extends "./templates/layout.nunjucks" %}

{% block title %}Üye Ol{% endblock %}

{% block content %}

<main class="login">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="row">
					<div class="col-md-5  ml-auto mr-auto">
						<div class="user-forget user-register">
							<div class="user-login-title">
								<h1>E-POSTA GÖNDERİLDİ</h1>
							</div>
							<p><span class="mail">gizem@lifefork.com</span> mail adresinize şifre oluşturma maili gönderdik</p>
							<object id="svg1" fill="#D3D800" class="email-icon" data="assets/images/mail-ico.svg" type="image/svg+xml"></object>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

{% endblock %}