{% extends "./templates/layout.nunjucks" %}

{% block title %}Siparişlerim{% endblock %}

{% block content %}

<main class="user-information">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="bread-crumb">
					<ul>
						<li><a href="#">Anasayfa</a></li>
						<li><a href="#">Siparişlerim</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="user-sidebar d-none d-md-block">
					<ul>
						<li><a href="#">Üye Bilgilerim</a></li>
						<li><a href="#">Alışveriş Sepetim</a></li>
						<li class="active"><a href="#">Siparişlerim</a></li>
						<li><a href="#">Abonelikler</a></li>
						<li><a href="#">Ödeme Yöntemlerim</a></li>
						<li><a href="#">Hediye Çeklerim</a></li>
						<li><a href="#">Adres Defteri</a></li>
						<li><a href="#">Yardım</a></li>
						<li><a href="#">Güvenli Çıkış</a></li>
					</ul>
				</div>
				<select class="user-sidebar-select d-md-none">
					<option value="">Üye Bilgilerim</option>
					<option value="">Alışveriş Sepetim</option>
					<option value="">Siparişlerim</option>
					<option value="">Ödeme Yöntemlerim</option>
					<option value="">Hediye Çeklerim</option>
					<option value="">Adres Defteri</option>
					<option value="">Yardım</option>
					<option value="">Güvenli Çıkış</option>
				</select>
			</div>
			<div class="col-lg-9">
				<div class="user-order">
					<div class="order-table">
						<div class="order-table-head col-lg-12">
							<div class="row">
								<div class="order-table-head-item product-name col-lg-4">Ürün Adı</div>
								<div class="order-table-head-item col-lg-2">Sipariş Kodu</div>
								<div class="order-table-head-item col-lg-2">Gönderim Tarihi</div>
								<div class="order-table-head-item col-lg-2">Durum</div>
								<div class="order-table-head-item col-lg-2">Fiyat</div>
							</div>
						</div>
						<div class="order-table-content col-lg-12">
							<div class="order-table-content-item">
								<div class="row">
									<div class="order-table-content-item-col product-name col-lg-4">
										<img width="67" height="39" src="assets/images/Midi_image.png" alt="">
										<a href="#">
											Newborn 3-61kg 200
											Adet Bebek Bezi
										</a>
									</div>
									<div class="order-table-content-item-col col-lg-2">
										<div class="mobile-col">Sipariş Kodu</div>
										#456729299
									</div>
									<div class="order-table-content-item-col col-lg-2">
										<div class="mobile-col">Gönderim Tarihi</div>
										14.04.2019
									</div>
									<div class="order-table-content-item-col col-lg-2">
										<div class="mobile-col">Durum</div>
										Hazırlanıyor
									</div>
									<div class="order-table-content-item-col col-lg-2">
										<div class="mobile-col">Fiyat</div>
										<strong>80,00₺</strong>
									</div>
								</div>
							</div>
							<div class="order-table-content-detail">
								<div class="row">
									<div class="col-lg-6">
										<div class="user-adress-list-item">
											<div class="user-adress-list-item-title">
												<h3>Kargo Adresi</h3>
											</div>
											<div class="user-adress-list-item-box">
												<div class="user-adress-list-item-box-content">
													<div class="adress-item-text">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
													</div>
													<div class="adress-item-post-code">
														34660
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="user-adress-list-item">
											<div class="user-adress-list-item-title">
												<h3>Fatura Adresi</h3>
											</div>
											<div class="user-adress-list-item-box">
												<div class="user-adress-list-item-box-content">
													<div class="adress-item-text">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
													</div>
													<div class="adress-item-post-code">
														34660
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="payment-info">
											<div class="payment-info-title">
												<h3>Ödeme Bilgileri</h3>
											</div>
											<div class="payment-info-box">
												<div class="payment-info-box-item card-information">
													<div class="payment-info-box-item-name">Master Card</div>
													<div class="payment-info-box-item-number">1212-1212-1212-1212</div>
												</div>
												<div class="payment-info-box-item">
													<div class="payment-info-box-item-name">Ara Toplam</div>
													<div class="payment-info-box-item-number">89,99 TL</div>
												</div>
												<div class="payment-info-box-item">
													<div class="payment-info-box-item-name">Kargo Tutarı</div>
													<div class="payment-info-box-item-number">8,99 TL</div>
												</div>
												<div class="payment-info-box-item payment-info-box-footer">
													<div class="payment-info-box-item-name">Toplam</div>
													<div class="payment-info-box-item-number">98,98TL</div>
												</div>

											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="cargo-info">
											<div class="cargo-info-title">
												<h3>Kargo Bilgileri</h3>
											</div>
											<div class="cargo-info-box">
												<div class="cargo-info-box-title">Kargo Firması</div>
												<div class="cargo-info-box-name">Yurtiçi Kargo</div>
												<div class="cargo-info-box-link">Kargom Nerede?</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}