{% extends "./templates/layout.nunjucks" %}

{% block title %}Üyelik Bilgilerim{% endblock %}

{% block content %}

<main class="user-information">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="bread-crumb">
					<ul>
						<li><a href="#">Anasayfa</a></li>
						<li><a href="#">Yardım</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="user-sidebar d-none d-md-block">
					<ul>
						<li class="active">
							<a href="#">
								Üye Bilgilerim
							</a>
						</li>
						<li><a href="#">Alışveriş Sepetim</a></li>
						<li><a href="#">Siparişlerim</a></li>
						<li><a href="#">Abonelikler</a></li>
						<li><a href="#">Ödeme Yöntemlerim</a></li>
						<li><a href="#">Hediye Çeklerim</a></li>
						<li><a href="#">Adres Defteri</a></li>
						<li><a href="#">Yardım</a></li>
						<li><a href="#">Güvenli Çıkış</a></li>
					</ul>
				</div>
				<select class="user-sidebar-select d-md-none">
					<option value="">Üye Bilgilerim</option>
					<option value="">Alışveriş Sepetim</option>
					<option value="">Siparişlerim</option>
					<option value="">Ödeme Yöntemlerim</option>
					<option value="">Hediye Çeklerim</option>
					<option value="">Adres Defteri</option>
					<option value="">Yardım</option>
					<option value="">Güvenli Çıkış</option>
				</select>
			</div>
			<div class="col-lg-9">
				<div class="help">
					<nav class="help-tab">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
								aria-controls="nav-home" aria-selected="true">
								<i><img src="assets/images/help-refresh.svg" alt=""></i>
								<span>İade ve Değişim</span>
							</a>
							<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
								aria-controls="nav-profile" aria-selected="false">
								<i><img src="assets/images/help-user.svg" alt=""></i>
								<span>Abonelik</span>
							</a>
							<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
								aria-controls="nav-contact" aria-selected="false">
								<i><img src="assets/images/help-cargo.svg" alt=""></i>
								<span>Kargo ve Takip</span>
							</a>
							<a class="nav-item nav-link" id="nav-invoice-tab" data-toggle="tab" href="#nav-invoice" role="tab"
								aria-controls="nav-invoice" aria-selected="false">
								<i><img src="assets/images/help-invoice.svg" alt=""></i>
								<span>Fatura</span>
							</a>
							<a class="nav-item nav-link" id="nav-credit-tab" data-toggle="tab" href="#nav-credit" role="tab"
								aria-controls="nav-credit" aria-selected="false">
								<i><img src="assets/images/help-credit.svg" alt=""></i>
								<span>Ödeme</span>
							</a>
						</div>
					</nav>
					<div class="tab-content help-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a data-toggle="collapse" data-target="#collapThree" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a data-toggle="collapse" data-target="#collapThree" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a data-toggle="collapse" data-target="#collapThree" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-invoice" role="tabpanel" aria-labelledby="nav-invoice-tab">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a data-toggle="collapse" data-target="#collapThree" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-credit" role="tabpanel" aria-labelledby="nav-credit-tab">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a data-toggle="collapse" data-target="#collapThree" aria-expanded="false" aria-controls="collapseOne">
											Lorem ipsum
											<i>
												<img src="assets/images/accrodion-down.svg" alt="">
											</i>
										</a>
									</div>

									<div id="collapThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>

											It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}